body {
    background-image: url('src/fondo.avif');
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: larger;
}
img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}